# Virtual Environment
.venv/
__pycache__/
*.pyc

# Configuration (Local)
config.env

# OVMS Binary & Cache
ovms/
cache/
xpu-smi/

# Generated Launch Scripts (Created by install_all.ps1)
start_server.ps1

# Logs
*.log

